/* Impostazioni base */
html, body {
    height: 100%;
    margin: 0;
}

body {
    background: url('Via Prione2.png') #E69D11 no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Courier, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    background-attachment: fixed;
    background-size: cover;
    color: black;
    text-align: center;
    padding: 20px;
    flex-shrink: 0; /* non si riduce */
}

header img {
    width: 100px;
    margin-bottom: 10px;
}

.lang-btn {
    background: #E69D11;
    color: #595959;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 10px;
}

/* Container principale */
.container {
    margin: auto;
    padding: 20px;
    flex: 1;
}

/* Sezioni e titoli */
section {
    margin-bottom: 30px;
}

h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

/* Item menu */
.item {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    margin: 8px 0;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 4px;
}

/* Footer fisso in basso */
footer {
    color: black;
    text-align: center;
    font-size: 8px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.35);
    flex-shrink: 0;
}

/* Tab content full-width */
.tab-content {
    flex: 1; /* occupa tutto lo spazio disponibile */
    width: 100%;
    background: rgba(255, 255, 255, 0.45);
    padding: 20px 40px; /* padding verticale + orizzontale */
    box-sizing: border-box;
    margin-bottom: 30px;
    overflow-y: auto; /* scroll solo se troppo lungo */
}

/* Bottoni dei tab */
.tab-buttons {
    display: flex;
    justify-content: center;
    gap: 3px;
    padding: 5px 0;
    flex-shrink: 0;
    margin-bottom: 20px; /* spazio tra bottoni e tab content */
}

.tab-buttons > button {
    font-family: Courier, sans-serif;
    background: linear-gradient(135deg, #FFA500, #E69D11);
    border: none;
    border-radius: 25px;
    color: black;
    padding: 5px 7px;
    font-size: 17px;
    margin: 0 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.tab-buttons > button:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 6px 10px rgba(0,0,0,0.25);
}

/* Bottoni attivi */
.tab-buttons > button.active {
    box-shadow: 0 6px 10px rgba(0,0,0,0.3);
    transform: scale(1.05);
}
